<header [class.scrolled]="isScrolled">
  <nav>
    <a class="logo" routerLink="/">
      <h1>shkrsltnv</h1>
    </a>

    <button
      class="mobile-menu-toggle"
      (click)="toggleMobileMenu()"
      [class.active]="isMobileMenuOpen"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul [class.mobile-menu-open]="isMobileMenuOpen">
      <li>
        <a routerLink="/" class="nav-link" (click)="closeMobileMenu()">Home</a>
      </li>
      <li>
        <a routerLink="/about-me" class="nav-link" (click)="closeMobileMenu()"
          >About</a
        >
      </li>
      <li>
        <a routerLink="/projects" class="nav-link" (click)="closeMobileMenu()"
          >Projects</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="nav-link" (click)="closeMobileMenu()"
          >Contact</a
        >
      </li>
      <li>
        <a
          routerLink="/ai-assistant"
          class="nav-link nav-link-ai"
          (click)="closeMobileMenu()"
          >SHKR AI</a
        >
      </li>
      <li>
        <a
          routerLink="/cv"
          class="nav-link nav-link-cv"
          (click)="closeMobileMenu()"
          >CV</a
        >
      </li>
    </ul>
  </nav>
</header>
