<div class="alish-container">
  <section class="hero">
    <div class="hero-content">
      <h1 class="animate-in">АЛИШ</h1>
      <p class="subtitle animate-in">Готуни сиктигим ибине</p>
    </div>
  </section>

  <section class="content animate-on-scroll">
    <div class="section-title">Заебал</div>
    <div class="content-wrapper">
      <h2>Котах Алиш</h2>
      <p>
        Алиш сен пидоразсин заебать эттин уже, кафа сикме. Ильмаз сенсин сени
        сикерим. Гандон инат шлюха ебанный, гет дальше уборка эт ибине готи
        кахмиш пара годиде гендини бише заниер. 5000 франк коине койди даха да
        готи кахти,ставка мтавка хер сиким вар уже, сора да пара бозмиер диез,
        охуеть можно.
      </p>
    </div>
    <div class="content-wrapper">
      <h2>Сикик Алиш</h2>
      <p>
        Бирде амк не хазедиен би сиким бильмеден бош бош сойлемей амк,
        бильмиерсен хаятинда бир кере бош сукут турур инсан. Долбень путух, гет
        оруч тутмая хазирлан, бирез инсан ол копек.
      </p>
    </div>
  </section>
</div>
