:host {
  .scrolled {
    @apply shadow-lg border-b border-gray-200 dark:border-gray-800;
  }
}

.logo {
  position: relative;
  z-index: 1000;
  
  a {
    isolation: isolate;
  }
}

.navigation-wrapper {
  transition: all 0.3s ease-in-out;
}
