:host {
  display: block;
}

article {
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}

// Анимация для изображений
.image-container {
  overflow: hidden;
  
  img {
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}

// Стили для тегов
.tag {
  transition: all 0.2s ease;
  
  &:hover {
    background-color: rgba(16, 185, 129, 0.2);
  }
}

// Стили для дефолтной иконки
.default-icon {
  fa-icon {
    transition: all 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}
