<div class="container">
  <section class="ai-assistant-section">
    <div class="section-title">Interactive AI Assistant</div>

    <div class="ai-chat-wrapper">
      <app-ai-chat
        title="Shakir's AI clone"
        subtitle="Ask me anything about my skills, experience, or projects"
      >
      </app-ai-chat>
    </div>

    <div class="ai-assistant-note">
      <p>
        <strong>Note:</strong> This AI assistant is powered by OPEN AI and has
        been trained on specific information about me. It will try to give
        relevant information, but if you see something weird or not accuarate,
        just ask me directly. You can find my
        <a href="https://www.linkedin.com/in/shkrsltn/" target="_blank"
          >LinkedIn profile</a
        >
        or <a href="mailto:sultanovshakir12@gmail.com">contact me directly</a>.
      </p>
    </div>
  </section>
</div>
