<div class="container">
  <section class="ai-assistant-section animate-on-scroll">
    <div class="section-title">
      {{ "AI_ASSISTANT.SECTION_TITLE" | translate }}
    </div>

    <div class="ai-chat-wrapper">
      <app-ai-chat> </app-ai-chat>
    </div>

    <div class="ai-assistant-note">
      <p>
        <strong>{{ "AI_ASSISTANT.NOTE_TITLE" | translate }}</strong>
        {{ "AI_ASSISTANT.NOTE" | translate }}
        <a href="https://www.linkedin.com/in/shkrsltn/" target="_blank">{{
          "AI_ASSISTANT.LINKEDIN" | translate
        }}</a>
        {{ "AI_ASSISTANT.OR" | translate }}
        <a href="mailto:sultanovshakir12@gmail.com">{{
          "AI_ASSISTANT.CONTACT_ME" | translate
        }}</a
        >.
      </p>
    </div>
  </section>
</div>
