<footer>
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-logo">
        <h2>{{ logoText }}</h2>
      </div>

      <div class="footer-links">
        <div class="footer-links-column">
          <h3>{{ "HEADER.NAVIGATION" | translate }}</h3>
          <ul>
            <li>
              <a routerLink="/">{{ "HEADER.HOME" | translate }}</a>
            </li>
            <li>
              <a routerLink="/about-me">{{ "HEADER.ABOUT" | translate }}</a>
            </li>
            <li>
              <a routerLink="/projects">{{ "HEADER.PROJECTS" | translate }}</a>
            </li>
            <li>
              <a routerLink="/contact">{{ "HEADER.CONTACT" | translate }}</a>
            </li>
          </ul>
        </div>

        <div class="footer-links-column">
          <h3>Resources</h3>
          <ul>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/projects">Portfolio</a></li>
            <li><a routerLink="/cv">Resume</a></li>
          </ul>
        </div>

        <!--         <div class="footer-links-column">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div> -->
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-social">
        <a
          href="https://github.com/ShkrSltn"
          target="_blank"
          aria-label="GitHub"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/shkrsltn"
          target="_blank"
          aria-label="LinkedIn"
          >LinkedIn</a
        >
      </div>

      <div class="footer-copyright">
        <p>&copy; {{ currentYear }} {{ logoText }}</p>
      </div>
    </div>
  </div>
</footer>
