<div class="birthday-container">
  <!-- Заменяем одну большую GIF на несколько маленьких в строку -->
  <div class="small-gifs-container">
    <div class="small-gif" *ngFor="let i of [1, 2, 3, 4]">
      <img
        src="assets/alish/videogif1.gif"
        alt="Alish GIF"
        class="alish-small-gif"
        onerror="this.onerror=null; console.error('Failed to load GIF');"
      />
    </div>
  </div>

  <div class="birthday-content" *ngIf="!countdownEnded">
    <h1>Алишин днюхасина:</h1>

    <div class="countdown-container">
      <div class="countdown-item" style="--animation-order: 0">
        <div class="countdown-value" style="--animation-order: 0">
          {{ days }}
        </div>
        <div class="countdown-label">гун</div>
      </div>

      <div class="countdown-item" style="--animation-order: 1">
        <div class="countdown-value" style="--animation-order: 1">
          {{ hours }}
        </div>
        <div class="countdown-label">саат</div>
      </div>

      <div class="countdown-item" style="--animation-order: 2">
        <div class="countdown-value" style="--animation-order: 2">
          {{ minutes }}
        </div>
        <div class="countdown-label">минут</div>
      </div>

      <div class="countdown-item" style="--animation-order: 3">
        <div class="countdown-value" style="--animation-order: 3">
          {{ seconds }}
        </div>
        <div class="countdown-label">секунд</div>
      </div>
    </div>
  </div>

  <!-- Поздравление после окончания отсчета -->
  <div class="celebration-content" *ngIf="countdownEnded">
    <div class="celebration-title">Тохулген гунун мубарек олсун</div>
    <div class="celebration-subtitle">
      Бойук адам оласин, алдугун хер коин 1 миллион доллар ола, эвли мутли,
      чоджухли оласин
    </div>
    <div class="celebration-message">
      <p>Бу йиль киз булуп 3 апрель 2026 де эвленесин</p>
      <p>Акп-йи брахип тохри йоли буласин</p>
    </div>
  </div>

  <div class="animated-design">
    <div class="circle"></div>
    <div class="square"></div>
  </div>
</div>
