<div class="container" appScrollAnimate>
  <section class="hero">
    <div class="hero-text">
      <h1 class="animate-in">
        {{ "HERO_TITLES.HOME_1" | translate }}
      </h1>
      <div class="separator"></div>
      <h1 class="animate-in">
        {{ "HERO_TITLES.HOME_2" | translate }}
      </h1>
      <div class="separator"></div>
      <h1 class="animate-in green">
        {{ "HERO_TITLES.HOME_3" | translate }}
      </h1>
      <p class="subtitle animate-in">
        {{ "HERO_TITLES.HOME_SUBTITLE" | translate }}
      </p>
    </div>
  </section>

  <section class="about animate-on-scroll">
    <div class="section-title">{{ "HOME.ABOUT_ME" | translate }}</div>
    <div class="about-content">
      <div class="about-text">
        <h2>{{ "HOME.HI" | translate }}</h2>
        <p>
          {{ "HOME.ME_DESCRIPTION" | translate }}
        </p>
        <div class="tech-stack">
          @for (tech of techStack; track tech) {
            <div class="tech-item">{{ tech }}</div>
          }
        </div>
      </div>
      <div class="about-image">
        <div class="animated-design">
          <div class="circle"></div>
          <div class="square"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="sections">
    <div class="section animate-on-scroll">
      <div class="section-number">01</div>
      <h2>{{ "HOME.BUILD" | translate }}</h2>
      <p class="section-description">
        {{ "HOME.BUILD_DESCRIPTION" | translate }}
      </p>
    </div>

    <div class="section animate-on-scroll">
      <div class="section-number">02</div>
      <h2>{{ "HOME.LEARN" | translate }}</h2>
      <p class="section-description">
        {{ "HOME.LEARN_DESCRIPTION" | translate }}
      </p>
    </div>

    <div class="section animate-on-scroll">
      <div class="section-number">03</div>
      <h2>{{ "HOME.GROW" | translate }}</h2>
      <p class="section-description">
        {{ "HOME.GROW_DESCRIPTION" | translate }}
      </p>
    </div>
  </section>

  <app-projects-section
    [title]="'HOME.FEATURED_PROJECTS' | translate"
    [projects]="featuredProjects"
    [displayMode]="'full'"
    [maxTechnologies]="3"
  ></app-projects-section>

  <section class="contact animate-on-scroll">
    <div class="section-title">{{ "HOME.IN_TOUCH" | translate }}</div>
    <h2>{{ "HOME.LET'S_WORK_TOGETHER" | translate }}</h2>
    <p>
      {{ "HOME.IN_TOUCH_DESCRIPTION" | translate }}
    </p>
    <div class="contact-links">
      <a href="{{ emailLink }}" class="contact-button">{{
        "HOME.EMAIL_ME" | translate
      }}</a>
      <div class="social-links">
        <a target="_blank" href="{{ gitHubLink }}" class="social-link"
          >GitHub</a
        >
        <a target="_blank" href="{{ linkedInLink }}" class="social-link"
          >LinkedIn</a
        >
      </div>
    </div>
  </section>
</div>
